* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

a {
   text-decoration: none;
}

.container {
   max-width: 1366px;
   margin: 0 auto;
}

.btn {
   padding: 10px 16px;
   height: 48px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: fit-content;
   border-radius: 100px;
}

.btn-primary {
   background:#0085FF;
   color: #FFFFFF;
   min-width: 200px;
}

.btn-secondary {
   margin: 0 auto;
   color: #2A3945;
   background: #FFFFFF;
   border: 1px solid #C1CAD2;
}

.btn-secondary img {
   margin-left: 8px;
}


/* Navbar */
nav {
   background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.04);
}

.nav-bar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 72px;
}

.nav-bar .brand {
   display: flex;
   align-items: center;
}

.nav-bar .brand .brand-logo {
   margin-right: 8px;
}

.nav-bar .brand .brand-name {
   font-weight: 500;
}

.nav-bar .nav-list {
   display: flex;
   align-items: center;
}

.nav-bar .nav-list .nav-list-item {
   display: flex;
   align-items: center;
}

.nav-bar .nav-list .nav-list-item:not(:last-child) {
   margin-right: 40px;
}

.nav-bar .nav-list .discord-link {
   font-weight: 700;
   color: #5865F2;
}

.nav-bar .nav-list .discord-link img{
   margin-right: 8px;
}

.nav-bar .nav-list .website-link {
   color: #042235;
}

.nav-bar .nav-list  .website-link img{
   margin-left: 8px;
}


/* Hero */
.hero {
   padding: 108px 0px;
   display: flex;
}

.hero-content {
   flex: 1;
}

.hero-content .hero-heading {
   color: #2A3945;
   font-weight: 600;
   font-size: 44px;
   line-height: 130%;
   margin-bottom: 8px;
}

.hero-content .hero-tagline {
   font-size: 20px;
   line-height: 150%;
   color: #4F5E6B;
}

.hero-images {
   position: relative;
   flex: 1;
}

.hero-images #purple-img {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 25%;
}

.hero-images #green-img {
   position: absolute;
   top: 0%;
   transform: translateY(-80%);
   right: 8%;
}

.hero-images #pink-img {
   position: absolute;
   top: 75%;
   right: 0;
}


/* Steps */
.steps {
   display: grid;
   grid-template-columns: repeat(3, auto);
   gap: 24px;
   padding-bottom: 108px;
}

.steps .step {
   padding: 32px 32px 48px;
}

.steps .step .step-number {
   background:  rgba(0, 133, 255, 0.08);
   display: grid;
   place-items: center;
   font-weight: 600;
   font-size: 24px;
   line-height: 130%;
   color: #0085FF;
   width: 48px;
   height: 48px;
   border-radius: 24px;
   margin-bottom: 24px;
}

.steps .step .step-heading {
   font-weight: 600;
   font-size: 24px;
   line-height: 130%;
   color: #3C4B57;
   margin-bottom: 8px;
}

.steps .step .step-description {
   font-size: 14px;
   line-height: 130%;
   color: #697986;
   margin-bottom: 48px;
   font-weight: normal;
}

.step-platform:not(:last-child) {
   margin-right: 8px;
}


/* Projects */
.projects {
   padding: 96px 0px;
   background: #EAF2F8;
}

.projects-content {
   text-align: center;
}

.projects-content .projects-heading {
   font-weight: 600;
   font-size: 36px;
   line-height: 150%;
   color: #2A3945;
   margin-bottom: 16px;
}

.projects-content .projects-description {
   color: #4F5E6B;
   line-height: 150%;
   margin: 0 auto;
   margin-bottom: 48px;
   max-width: 720px;
}


/* Footer */
footer {
   height: 116px;
   display: flex;
   align-items: center;
   justify-content: center;
}

footer .social-link:not(:last-child) {
   margin-right: 32px;
}